
<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="description"
          content="Movies I've Seen is an app written for my mom. She will be able to keep track of the movies she's seen with this app!">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <%= stylesheet_link_tag "application" %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Josefin+Sans|Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <title>Movies I've Seen</title>
  </head>
  <body>
    <div>
      <div class="title-font">
        <h1>Movies I've Seen</h1>
      </div>
      <div class="buttons">
        <button id="button1"><a class="waves-effect waves-light btn title-font">
          <%= button_to "View movies I've seen", movies_path, method: :get %>
            View movies I've seen</a>
        </button>
        <button id="button2"><a class="waves-effect waves-light btn title-font">
          <%= button_to "Add a movie to my list", new_movie_url, method: :get %>
            Add a movie to my list</a>
        </button>
      </div>
    </div>
   <%= javascript_include_tag "application" %>
  </body>
</html>
