.navbar-brand {
  font-family: 'didot';
  font-size: 30px !important;
  border-color: #644c84 !important;
}

.btn {
  font-family: 'didot';
  color: #fff !important;
  border-color: #000 !important;
}

