body {
  background-image: url(projector.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

#button1 {
  border-radius: 20px;
  float: left;
  background-color: #ccccff;
  overflow: hidden;
}

#button2 {
  border-radius: 20px;
  overflow: hidden;
  background-color: #ccccff;
}

.waves-effect {
  border-radius: 20px !important;
}

.title-font {
  color: #fff;
  font-family: 'didot';
}

.buttons {
  display: inline-flex;
  overflow: hidden;
}

.btn {
  background-color: #644c84 !important;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 4.5em;
}

section p,
a,
a:hover {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  color: #fff !important;
}

nav {
  margin-top: 20px
}

nav a,
nav a:hover {
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s
}

nav a:hover::after {
  width: 100%
}

nav ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none
}

nav li {
  display: inline-block;
  margin: 0 10px
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  padding-left: 0;
}

.experience {
  line-height: 40px;
  height: 200px
}

.visible {
  overflow: hidden;
  height: 47px;
  padding: 0 40px;
  font-size: 2em
}

.visible p {
  display: inline;
  float: left;
  margin: 0
}

.rotating {
  margin-left: 110px;
  padding: 0 10px;
  border: 2.5px solid #fff;
  overflow: hidden;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.3)
}

.rotating ul {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  animation: 10s linear 0s normal none infinite change
}

.rotating li {
  line-height: 40px;
  margin: 0
}

@keyframes change {
  0%,
  12%,
  100% {
    transform: translateY(0)
  }
  17%,
  29% {
    transform: translateY(-25%)
  }
  34%,
  46% {
    transform: translateY(-50%)
  }
  51%,
  63% {
    transform: translateY(-75%)
  }
  68%,
  80% {
    transform: translateY(-50%)
  }
  85%,
  97% {
    transform: translateY(-25%)
  }
}

@media (max-width: 600px),
(max-height: 400px) {
  body .container {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    top: 0;
    font-size: .8em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
  }
  body h1 {
    font-size: 3em
  }
  body nav {
    min-width: 300px
  }
  body nav:after {
    content: "";
    display: table;
    clear: both
  }
  body nav:after li {
    font-size: 1.4em;
    display: block;
    width: 40%;
    margin: 10px 10px;
    float: left
  }
  body nav:after li:after {
    content: ""
  }
  .experience {
    height: auto
  }
}

@media only screen and (max-width: 500px) {
  #button1 {
    float: none;
    margin: 10px 0 10px 0;
    width:auto;
  }
}

